

.errors {
    .listErrors {
        margin: 0;
        padding-left: 15px;
        list-style: none;

        li {
            text-indent: -15px;
            line-height: 1.4;

            &:before {
                content: "";
                background-color: 'red';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}
